body {
  font-size: 12px;
  color: #666;
}

a {
  font-size: 12px;
  color: #666;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

.grid_c1 {
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear,
.clr {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
}

.dorpdown {
  position: relative;
}

.dorpdown-layer {
  display: none;
  position: absolute;
}

.dorpdown:hover .dorpdown-layer,
.hover .dorpdown-layer {
  display: block;
}

.cw-icon {
  position: relative;
  cursor: default;
  zoom: 1;
}

.cw-icon .i, .cw-icon i {
  display: block;
  position: absolute;
  overflow: hidden;
}

#big_top_nav {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: #e3e4e5;
  border-bottom: solid 1px #ddd;
}

#big_top_nav li {
  float: left;
  height: 30px;
  padding: 0 2px;
}

#big_top_nav li.dorpdown {
  z-index: 13;
  position: relative;
}

#big_top_nav li.dorpdown:hover {
  padding: 0 1px;
}

#big_top_nav li.dorpdown:hover .dt {
  background: #fff;
  border: solid #ddd;
  border-width: 0 1px;
}

#big_top_nav li.hover {
  padding: 0 1px;
}

#big_top_nav li.hover .dt {
  background: #fff;
  border: solid #ddd;
  border-width: 0 1px;
}

#big_top_nav .iconfont {
  font-weight: bold;
}

#big_top_nav a {
  color: #999;
}

#big_top_nav a:hover {
  color: #f30213;
}

#big_top_nav .top_nav_wrap {
  width: 1200px;
  margin: 0 auto;
  background: #e3e4e5;
  color: #999;
}

#big_top_nav .top_nav_wrap .top_nav_left {
  float: left;
}

#big_top_nav .top_nav_wrap .top_nav_right {
  float: right;
}

#big_top_nav .top_nav_wrap .top_nav_right .iconfont {
  font-size: 12px;
}

#big_top_nav .top_nav_wrap .top_nav_right .dorpdown-layer {
  width: 280px;
  top: 30px;
  background: #fff;
  border: 1px solid #ddd;
  *left: 1px;
}

#big_top_nav .top_nav_wrap .top_nav_right li.spacer {
  width: 1px;
  height: 12px;
  margin-top: 9px;
  padding: 0;
  background: #ccc;
  overflow: hidden;
}

#big_top_nav .top_nav_wrap .top_nav_right .dt {
  float: left;
  padding: 0 8px;
}

#big_top_nav .top_nav_wrap .top_nav_right .dd {
  line-height: 24px;
}

#big_top_nav .top_nav_wrap .top_nav_right .dd-spacer {
  position: absolute;
  top: -7px;
  height: 10px;
  background: #fff;
  overflow: hidden;
}

#big_top_nav .top_nav_wrap .cw-icon {
  font-size: 12px;
}

#big_top_nav #ttbar-login {
  margin-right: 10px;
}

#big_top_nav #ttbar-login .link-login {
  font-family: "verdana,simsun";
}

#big_top_nav #ttbar-login .style-red {
  color: #f30213;
}

#big_top_nav #ttbar-login-already {
  display: none;
  margin-right: 10px;
  padding: 0 1px;
}

#big_top_nav #ttbar-login-already:hover .dorpdown-layer {
  display: block;
  z-index: 20;
}

#big_top_nav #ttbar-login-already .dt {
  padding-right: 72px;
}

#big_top_nav #ttbar-login-already .dt .nickname {
  display: block;
  width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
}

#big_top_nav #ttbar-login-already .icon-plus-nickname {
  position: absolute;
  right: 27px;
  top: 7px;
  display: block;
  width: 38px;
  height: 16px;
  background: #d7d4cb url(../images/user-plus-status.png) no-repeat 0 -68px;
}

#big_top_nav #ttbar-login-already .dorpdown-layer {
  width: 280px;
}

#big_top_nav #ttbar-login-already .dd-spacer {
  width: 150px;
}

#big_top_nav #ttbar-login-already .userinfo {
  padding: 10px 0 10px 15px;
  overflow: hidden;
}

#big_top_nav #ttbar-login-already .u-pic {
  float: left;
  margin-right: 10px;
}

#big_top_nav #ttbar-login-already .u-pic img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

#big_top_nav #ttbar-login-already .u-plus {
  padding: 10px 0 0;
  overflow: hidden;
}

#big_top_nav #ttbar-login-already .link-logout {
  float: right;
  margin-right: 10px;
  line-height: 1.2;
}

#big_top_nav #ttbar-login-already .icon-plus-dropdown {
  display: block;
  width: 80px;
  height: 16px;
  background: url(../images/user-plus-status.png) no-repeat 0 -34px;
}

#big_top_nav #ttbar-login-already .u-msg {
  font-family: simsun,Hiragino Sans GB;
  padding-top: 4px;
}

#big_top_nav #ttbar-myjd .dt {
  width: 49px;
  padding-right: 25px;
}

#big_top_nav #ttbar-myjd .dorpdown-layer {
  width: 280px;
}

#big_top_nav #ttbar-myjd .myjdlist1,
#big_top_nav #ttbar-myjd .myjdlist2 {
  width: 265px;
  padding: 5px 0 5px 15px;
  overflow: hidden;
}

#big_top_nav #ttbar-myjd .myjdlist1 .fore1,
#big_top_nav #ttbar-myjd .myjdlist1 .fore2,
#big_top_nav #ttbar-myjd .myjdlist2 .fore1,
#big_top_nav #ttbar-myjd .myjdlist2 .fore2 {
  float: left;
  width: 126px;
}

#big_top_nav #ttbar-myjd .myjdlist1 .fore1 a,
#big_top_nav #ttbar-myjd .myjdlist1 .fore2 a,
#big_top_nav #ttbar-myjd .myjdlist2 .fore1 a,
#big_top_nav #ttbar-myjd .myjdlist2 .fore2 a {
  color: #999;
}

#big_top_nav #ttbar-myjd .myjdlist2 {
  border-top: 1px solid #f1f1f1;
}

#big_top_nav #ttbar-myjd .dd-spacer {
  left: 0;
  width: 82px;
}

#big_top_nav #ttbar-serv .dt {
  width: 49px;
  padding-right: 25px;
}

#big_top_nav #ttbar-serv .dd {
  width: 170px;
  right: 1px;
  padding: 10px 0;
}

#big_top_nav #ttbar-serv .dd .dd-spacer {
  width: 82px;
  right: 0;
}

#big_top_nav #ttbar-serv .dd .item {
  height: 24px;
  padding-left: 10px;
  display: inline-block;
  width: 70px;
}

#big_top_nav #ttbar-serv .dd .item-business,
#big_top_nav #ttbar-serv .dd .item-client {
  font-size: 12px;
  font-weight: 700;
  padding-left: 10px;
  color: #666;
}

#big_top_nav #ttbar-serv .dd .item-business {
  border-top: 1px dotted #eee;
  padding-top: 5px;
  margin-top: 5px;
}

#big_top_nav #ttbar-navs {
  padding: 0 1px 0 2px;
}

#big_top_nav #ttbar-navs .hover, #big_top_nav #ttbar-navs:hover {
  padding: 0 0 0 1px;
}

#big_top_nav #ttbar-navs .dt {
  width: 49px;
  padding-right: 25px;
}

#big_top_nav #ttbar-navs .dd {
  right: -69px;
  width: 1208px;
  padding: 20px 0 16px;
  *left: auto;
  _right: -1px;
}

#big_top_nav #ttbar-navs .dd .dd-spacer {
  right: 69px;
  width: 82px;
}

#big_top_nav #ttbar-navs .dd dl {
  float: left;
  width: 259px;
  padding-left: 20px;
  border-left: 1px solid #eee;
}

#big_top_nav #ttbar-navs .dd dl dt {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #666;
}

#big_top_nav #ttbar-navs .dd dl .item {
  float: left;
  width: 86px;
}

#big_top_nav #ttbar-navs .dd dl.fore1 {
  float: left;
  border-left: none;
  width: 347px;
}

#big_top_nav .cw-icon .iconfont {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 12px;
  height: 12px;
  line-height: 12px;
}

#big_top_nav #ttbar-apps:hover .dorpdown-layer,
#big_top_nav #ttbar-apps .hover .dorpdown-layer {
  display: block;
}

#big_top_nav #ttbar-apps .dt {
  background: 0 0;
  padding: 0 8px;
}

#big_top_nav #ttbar-apps .dt .ci-left {
  top: 5px;
  left: 7px;
  width: 15px;
  height: 20px;
  background: url(../images/jd2015img.png) 0 0 no-repeat;
}

#big_top_nav #ttbar-apps .dd {
  width: 190px;
  border-bottom: 3px solid #60575a;
}

#big_top_nav #ttbar-apps .dd .dd-spacer {
  position: absolute;
  display: block;
  top: -9px;
  left: 154px;
  margin-left: -5px;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-width: 5px;
  border-style: solid;
  border-color: #e4e4e4 #e4e4e4 #fff;
}

#big_top_nav #ttbar-apps .dd .dd-inner .mobile_pop_item {
  position: relative;
  z-index: 5;
  padding: 15px 0;
  border-bottom: 1px solid #E7E7E7;
}

#big_top_nav #ttbar-apps .dd .dd-inner .mobile_pop_item .mobile_pop_qrcode {
  position: absolute;
  left: 5px;
  top: 14px;
  width: 74px;
  height: 74px;
  border: 1px solid #CCC;
  background-color: #F7F7F7;
}

#big_top_nav #ttbar-apps .dd .dd-inner .mobile_pop_item .mobile_pop_qrcode img {
  width: 70px;
  height: 70px;
  margin: 2px 0 0 2px;
}

#big_top_nav #ttbar-apps .dd .dd-inner .mobile_pop_item .mobile_pop_info {
  margin: 0 10px 0 86px;
  min-height: 70px;
}

#big_top_nav #ttbar-apps .dd .dd-inner .mobile_pop_item .mobile_pop_info .mobile_pop_tit {
  font-size: 12px;
  line-height: 17px;
  font-weight: bold;
  color: #666 !important;
}

#big_top_nav #ttbar-apps .dd .dd-inner .mobile_pop_item .mobile_pop_info .mobile_pop_tit a {
  color: #666 !important;
}

#big_top_nav #ttbar-apps .dd .dd-inner .mobile_pop_item .mobile_pop_info .mobile_pop_value {
  margin: 3px 0;
  font-size: 12px;
  line-height: 14px;
  color: #F10214;
}

#big_top_nav #ttbar-apps .dd .dd-inner .mobile_pop_item .mobile_pop_info .mobile_pop_device {
  overflow: hidden;
  height: 25px;
}

#big_top_nav #ttbar-apps .dd .dd-inner .mobile_pop_item .mobile_pop_info .mobile_pop_device .mobile_pop_device_lk {
  overflow: hidden;
  float: left;
  margin-right: 2px;
  width: 25px;
  height: 25px;
  text-indent: -999px;
  background-image: url(../images/sprite_mobile@1x.png);
}

#big_top_nav #ttbar-apps .dd .dd-inner .mobile_pop_item .mobile_pop_info .mobile_pop_device .mobile_pop_device_ios {
  background-position: 0 0;
}

#big_top_nav #ttbar-apps .dd .dd-inner .mobile_pop_item .mobile_pop_info .mobile_pop_device .mobile_pop_device_and {
  background-position: 0 -26px;
}

#big_top_nav #ttbar-apps .dd .dd-inner .mobile_pop_item .mobile_pop_info .mobile_pop_device .mobile_pop_device_pad {
  background-position: 0 -52px;
}

#big_top_nav #ttbar-apps .dorpdown:hover .dt,
#big_top_nav #ttbar-apps .hover .dt {
  border-color: #e3e4e5;
}

#big_top_nav #ttbar-apps .hover .dt .ci-left {
  background: url(../images/jd2015img.png) 0 -25px no-repeat;
}

#big_top_nav #ttbar-apps .dorpdown-layer {
  right: 0;
}

.big_nav {
  width: 1200px;
  margin: 0 auto;
}

.big_nav #logo_2014 {
  position: relative;
  z-index: 12;
  float: left;
  width: 350px;
  height: 56px;
  margin: 26px 0 22px;
}

.big_nav #logo_2014 .logo {
  display: block;
  width: 213px;
  height: 54px;
  background-image: url(../images/chaoshi_mod_header.png);
  background-position: 0 0;
  background-size: 213px 82px;
  background-repeat: no-repeat;
  text-indent: -20000px;
}

.big_nav #logo_2014 .logo_dropdown {
  position: absolute;
  width: 90px;
  top: 12px;
  left: 234px;
  z-index: 3;
}

.big_nav #logo_2014 .logo_dropdown .fl {
  float: left;
}

.big_nav #logo_2014 .logo_dropdown .dropdown_locate {
  background-image: url(../images/chaoshi_mod_header.png);
  background-position: 0 -56px;
  background-size: 213px 82px;
  background-repeat: no-repeat;
  width: 17px;
  height: 26px;
}

.big_nav #logo_2014 .logo_dropdown .dropdown_wrap {
  width: 65px;
  height: 26px;
  margin-left: 6px;
}

.big_nav #logo_2014 .logo_dropdown .dropdown_wrap .dropdown_box {
  height: 24px;
  border-bottom: 2px solid #c91523;
}

.big_nav #logo_2014 .logo_dropdown .dropdown_wrap .dropdown_box .dt {
  width: 65px;
  height: 29px;
  color: #fff;
  text-align: center;
  font-size: 0;
  line-height: 24px;
}

.big_nav #logo_2014 .logo_dropdown .dropdown_wrap .dropdown_box .dt .ui-areamini-text {
  overflow: hidden;
  text-align: center;
  color: #c91523;
  font-size: 14px;
  margin-left: -5px;
}

.big_nav #logo_2014 .logo_dropdown .dropdown_wrap .dropdown_box .cw-icon i {
  right: 0;
  top: 9px;
  text-indent: -9999px;
  transition: transform .1s ease;
  background-image: url(../images/chaoshi_mod_header.png);
  background-position: -19px -56px;
  background-size: 213px 82px;
  background-repeat: no-repeat;
  width: 11px;
  height: 7px;
}

.big_nav #logo_2014 .logo_dropdown .dropdown_wrap .dropdown_box:hover i {
  transform: rotate(180deg);
}

.big_nav #logo_2014 .logo_dropdown .dropdown_wrap .dropdown_box .dd {
  display: none;
  width: 301px;
  line-height: 24px;
  padding: 10px 0 10px 10px;
}

.big_nav #logo_2014 .logo_dropdown .dropdown_wrap .dropdown_box .dorpdown-layer {
  position: absolute;
  top: 26px;
  left: -1px;
  background: #fff;
  border: 1px solid #ddd;
}

.big_nav #logo_2014 .logo_dropdown .dropdown_wrap .dropdown_box .dorpdown-layer .item {
  float: left;
  width: 60px;
  padding: 2px 0;
}

.big_nav #logo_2014 .logo_dropdown .dropdown_wrap .dropdown_box .dorpdown-layer .item a {
  float: left;
  padding: 0 8px;
}

.big_nav #logo_2014 .logo_dropdown .dropdown_wrap .dropdown_box .dorpdown-layer .item a:hover {
  cursor: pointer;
  color: #f10215;
  background-color: #ccc;
}

.big_nav #logo_2014 .logo_dropdown .dropdown_wrap .dropdown_box .dorpdown-layer .item a.selected {
  background-color: #f10215;
  color: #fff;
}

.big_nav #logo_2014 .logo_dropdown .dropdown_wrap .dropdown_box:hover .dd, .big_nav #logo_2014 .logo_dropdown .dropdown_wrap .dropdown_box hover .dd {
  display: block;
}

.big_nav #search-2014 {
  position: relative;
  z-index: 11;
  float: left;
  margin: 27px 0 0 80px;
}

.big_nav #search-2014 .form {
  width: 450px;
  height: 36px;
}

.big_nav #search-2014 .form .text {
  width: 360px;
  border-color: #ffa133;
  float: left;
  height: 24px;
  line-height: 24px;
  color: #999;
  padding: 4px;
  margin-bottom: 4px;
  border-width: 2px 0 2px 2px;
  border-style: solid;
  outline: 0;
  font-size: 12px;
}

.big_nav #search-2014 .form input::-webkit-input-placeholder {
  color: #999;
}

.big_nav #search-2014 .form .button {
  width: 80px;
  background: #ffa133;
  float: left;
  height: 36px;
  border: none;
  border-radius: 0;
  line-height: 1;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.big_nav #settleup-2014 {
  float: left;
  height: 36px;
  margin: 27px 0 0 30px;
}

.big_nav #settleup-2014 .cw-icon {
  width: 91px;
  height: 34px;
  border: 1px solid #DFDFDF;
  padding: 0 28px 0 19px;
  background: #F9F9F9;
  line-height: 34px;
}

.big_nav #settleup-2014 .cw-icon .ci-left {
  top: 9px;
  left: 90px;
  width: 16px;
  height: 16px;
  background: url(../images/icon-settleup.png) no-repeat;
  background-size: 16px 16px;
  overflow: hidden;
}

.big_nav #settleup-2014 .cw-icon .ci-right {
  display: none;
  top: 13px;
  right: 12px;
  height: 10px;
  width: 10px;
  background: url(../images/right-@1x.png) no-repeat;
  background-size: 10px 10px;
  overflow: hidden;
}

.big_nav #settleup-2014 .cw-icon .ci-count {
  position: absolute;
  top: 7px;
  left: 105px;
  display: inline-block;
  padding: 1px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -1px;
  color: #fff;
  background-color: #da1026;
  border-radius: 7px;
  min-width: 14px;
  font-family: tahoma,arial;
  text-align: center;
}

.big_nav #settleup-2014 .cw-icon a {
  color: #f30213;
}

.big_nav #settleup-2014 .dorpdown-layer {
  right: 0;
  width: 308px;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: #F9F9F9;
}

.big_nav #settleup-2014 .dorpdown-layer .spacer {
  position: absolute;
  right: 0;
  top: -7px;
  width: 138px;
  height: 12px;
  background: #F9F9F9;
}

.big_nav #settleup-2014 .dorpdown-layer .prompt {
  padding: 10px 15px;
}

.big_nav #settleup-2014 .dorpdown-layer .prompt .nogoods {
  padding-left: 5px;
  line-height: 49px;
  font-size: 12px;
  overflow: hidden;
  color: #999;
}

.big_nav #settleup-2014 .dorpdown-layer .prompt .nogoods b {
  float: left;
  width: 56px;
  height: 49px;
  background-image: url(../images/settleup-nogoods.png);
}

.big_nav .headerqrcode {
  position: relative;
  margin-top: 27px;
  float: right;
  margin-left: 30px;
  width: 120px;
}

.big_nav .headerqrcode .headerqrcode_lk {
  text-align: center;
  border: 1px solid #dfdfdf;
  display: block;
  height: 34px;
  line-height: 34px;
  background: #f9f9f9;
  position: relative;
  padding-left: 30px;
}

.big_nav .headerqrcode .headerqrcode_lk .headerqrcode_ico {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../images/icon-qrcode.png) no-repeat;
  position: absolute;
  top: 5px;
  left: 8px;
}

.big_nav .headerqrcode .headerqrcode_lk .headerqrcode_txt {
  display: inline-block;
}

.big_nav .headerqrcode:hover .headerqrcode_qc {
  display: block;
}

.big_nav .headerqrcode .headerqrcode_qc {
  display: none;
  position: absolute;
  border: 1px solid #dfdfdf;
  width: 108px;
  padding: 5px;
  text-align: center;
  z-index: 100;
  background: #fff;
  zoom: 1;
  top: 35px;
}

.big_nav .headerqrcode .headerqrcode_qc .headerqrcode_qcimg {
  width: 110px;
  height: 110px;
}

.big_nav .headerqrcode .headerqrcode_qc .headerqrcode_qcimg .headerqrcode_qcimg img {
  width: 100%;
  height: 100%;
  background: url(../images/loading.gif) no-repeat 50% !important;
}

.big_nav .headerqrcode .headerqrcode_qc .headerqrcode_arrow {
  position: absolute;
  display: none;
  left: 62px;
  top: -16px;
}

.big_nav .headerqrcode .headerqrcode_qc .headerqrcode_arrow .headerqrcode_arrow_bd,
.big_nav .headerqrcode .headerqrcode_qc .headerqrcode_arrow .headerqrcode_arrow_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  border: 8px dashed transparent;
}

.big_nav .headerqrcode .headerqrcode_qc .headerqrcode_arrow .headerqrcode_arrow_bd {
  border-bottom: 8px solid #c3c3c3;
}

.big_nav .headerqrcode .headerqrcode_qc .headerqrcode_arrow .headerqrcode_arrow_bg {
  border-bottom: 8px solid #fff;
  top: 1px;
}

.big_nav #hotwords {
  float: left;
  width: 462px;
  padding-left: 80px;
  overflow: hidden;
}

.big_nav #hotwords a {
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
  color: #999;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.imgWrapper {
  width: 350px;
  height: 350px;
  margin-left: 50px;
  float: left;
  position: relative;
}

.imgWrapper .litImg {
  display: inline-flex;
  height: 350px;
  border: 1px solid #ccc;
}

.imgWrapper .litImg:hover {
  border-right: 0;
}

.imgWrapper .img-mask {
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.imgWrapper .bigImg_wrapper {
  width: 400px;
  height: 400px;
  position: absolute;
  right: -403px;
  top: 0;
  border: 1px solid #ccc;
  overflow: hidden;
  z-index: 12px;
}

.imgWrapper .bigImg_wrapper .bigImg {
  position: absolute;
  height: 800px;
  height: 800px;
  margin: 0 auto;
}

.message {
  z-index: 10px;
  width: 480px;
  margin-left: 420px;
  margin-top: 40px;
}

.message .mes_title {
  text-align: left;
  margin: 10px 0 10px 10px;
  color: #666;
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: hidden;
  cursor: pointer;
}

.message .mes_type {
  height: 30px;
  margin-top: 15px;
}

.message .mes_type a {
  font-size: 12px;
  line-height: 20px;
  padding: 0 3px;
  margin: 5px;
  overflow: hidden;
  text-align: center;
  background: #e23a3a;
  color: #FFF;
  cursor: default;
  border-radius: 2px;
}

.message .mes_price-wrap {
  height: 24px;
}

.message .mes_price-wrap .dt {
  float: left;
  padding-left: 10px;
  width: 100%;
  font-family: simsun;
  color: #999;
}

.message .mes_price-wrap .dt .p-price a {
  margin-right: 10px;
  color: #e4393c;
  font-size: 22px;
  line-height: 24px;
}

.message .mes_price-wrap .dt .mes_com {
  float: right;
  border-left: solid 1px #e6e6e6;
  text-align: center;
  padding: 0 10px;
  line-height: 15px;
}

.message .mes_price-wrap .dt .mes_com p {
  color: #999;
}

.message .mes_price-wrap .dt .mes_com a {
  margin-left: 5px;
  font: 14px verdana;
  color: #005ea7;
}

.message .summary-stock {
  margin-top: 10px;
  cursor: pointer;
}

.message .summary-stock .dt {
  float: left;
  width: 50px;
  padding-left: 10px;
  color: #999;
}

.message .summary-stock .ui-area-text-wrapper {
  z-index: 3;
  height: 26px;
  width: 188px;
  margin-right: 6px;
}

.message .summary-stock .ui-area-text-wrapper .ui-area-text {
  margin-left: 10px;
  border: 1px solid #ccc;
  top: 0;
  height: 23px;
  padding: 0 4px;
  line-height: 23px;
  overflow: hidden;
}

.message .summary-stock .ui-area-text-wrapper b {
  display: block;
  float: right;
  padding-top: 3px;
  padding-right: 4px;
  width: 17px;
  height: 17px;
  background: url(../images/icooo.png) no-repeat 3px 8px;
  overflow: hidden;
}

.message .mes_store {
  padding: 10px;
  color: #df3033;
  cursor: pointer;
}

.message .btn-lg {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #df3033;
  color: #fff;
  font-weight: 700;
  height: 46px;
  line-height: 46px;
  padding: 0 26px;
  font-size: 18px;
  font-family: "microsoft yahei";
  margin-left: 340px;
  margin-top: 40px;
}

#goods_id {
  display: none;
}
